<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>DB에 저장된 값이 없습니다.</h1>

        <h1>해상 물류 운임비 크롤링</h1>
        <h2>Freightos, Icontainer 조회</h2>
        <form action="/crawl" mothod="get">
            <label for="keyword1">선착국가</label>
            <input type="text" name="keyword1">
            <label for="keyword2">선착항구</label>
            <input type="text" name="keyword2">
            <label for="keyword3">양하국가</label>
            <input type="text" name="keyword3">
            <label for="keyword4">양하항구</label>
            <input type="text" name="keyword4">
            
            <button type="submit">운임 적정여부 판단하기</button>
        </form>
        <h2>Searates 조회</h2>
        <form action="/crawl_searates" mothod="get">
            <label for="keyword1">선착도시</label>
            <input type="text" name="keyword5">
            <label for="keyword2">선착항구</label>
            <input type="text" name="keyword6">
            <label for="keyword3">양하도시</label>
            <input type="text" name="keyword7">
            <label for="keyword4">양하항구</label>
            <input type="text" name="keyword8">
            
            <button type="submit">운임 적정여부 판단하기</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>